In [1]:
import pandas as pd

df = pd.read_csv("fingriddata2025-02-02.csv", sep=";")

df.describe()

       datasetId        value
count       96.0    96.000000
mean       124.0  9172.808646
std          0.0   592.490478
min        124.0  7802.450000
25%        124.0  8677.272500
50%        124.0  9379.310000
75%        124.0  9654.182500
max        124.0  9838.940000